<%- include("includes/head.ejs"); %>
<body>
    <div class="center">
    <h2>This is @<%= data.name %>'s data</h2>
    <button>Follow</button>
    <button>Message</button> 
    <h3>Followers : <%= data.followers %> &nbsp; &nbsp; &nbsp; Following : <%= data.following %></h3>
    <hr>
    
    <% for(let post of data.posts ) { %>
        <img src="<%= post.image %>" alt="image">
        <h3>Likes : <%= post.likes %> &nbsp; &nbsp; &nbsp; Comments : <%= post.comments %> </h3>
    <% } %>
    </div>
    
</body>
